{% load webdesign %}
{% load url from future %}
{% load imagekit %}

<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<!-- STYLES -->
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
		
   
	</head>
	<body>	
		
	<div class="container">
	
		<div class="row-fluid">
			
		
		
		</div>
		
		<nav class="navbar navbar-default" role="navigation">
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			    <ul class="nav navbar-nav">
				{% for item in list %}
					<li ><a id="{{item.name}}" href="#">{{ item.name }}</a></li>
				{% endfor %}
				</ul>
			</div>
		</nav>

	
		<div class="row">
			<div class="col-md-12">
				{% block content %}
					<div id="result"></div>
				{% endblock %}
			</div>
		</div>
	</div>
	
    
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					
				</div>
			 </div>
	  	</div>
	</footer> 
				
		<!-- SCRIPTS -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
		<script src="{{ STATIC_URL }}scripts/ckeditor/ckeditor.js"></script>

 
		<script>
		$( "#teste" ).click(function() {
		 	
		 	$.get( "{% url "website:dados" "teste" %}", function( data ) {
  				$( "#result" ).html( data );
 
			});
		 	
		 	
		});
		$( "#outro" ).click(function() { 
		 	
		 	$.get( "{% url "website:dados" "outro" %}", function( data ) {
  				$( "#result" ).html( data );
 
			});
		 	
		 	
		});
		</script>
		{% block js %}
		  		<script>
					CKEDITOR.replace('id_content');
		
				</script>  
		{% endblock %} 
            
	</body>
</html>
