{% extends "dashboard_template.html" %}
{% load imagekit %}

{% block dashboard_title %}
	<h1 class="page-header">
		Images
	</h1>
	<hr>
{% endblock %}

{% block dashboard_content %}


<div class="row">
	{{ object }}
</div>

 os filhos do objeto acima tbm  serão removidos

<div class="row">
	<div class="col-md-4">
	<form action="" method="post">{% csrf_token %}
	    <p class="lead">Are you sure you want to delete "{{ object|title }}"?</p>
	    
	    <div class="pull-right">
			<p class="btn-toolbar">
				<a href="{% url 'menu:index' %}" class="btn btn-default">
				  	No
				</a>
				<button type="submit" class="btn btn-danger">Yes</button>
			</p>
		</div>
	</form>
	</div>
</div>
	

{% endblock %}