{% extends "dashboard_template.html" %}

{% load mptt_tags %}

{% block breadcrumbs %}
	<li>falta adicionar breadcrumbs</li>
{% endblock %}

{% block dashboard_title %}
	<h1 class="page-header">
		Menu
	</h1>
{% endblock %}



{% block dashboard_content %}

<div class="row">
		<div class="col-md-4">
			<form enctype="multipart/form-data" action="" method="post" class="form">{% csrf_token %}
				<div class="row">
					<div class="col-md-12">
						{% include "error_list.html" with error_list=form.non_field.errors %}
					</div>
				</div>
				<!--NAME and GALLERY-->
				<div class="row">
					<div class="col-md-12">
						<p>
							<label>Name:</label>
							{{ form.name }}
						</p>
						{% include "error_list.html" with error_list=form.name.errors %}
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-12">
						<p>
							<label>Name:</label>
							{{ form.parent }}
						</p>
						{% include "error_list.html" with error_list=form.name.errors %}
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-12">
						<button type="submit" class="btn btn-primary btn-sm pull-right"><i class="fa fa-plus"></i> Add</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	
	<p>&nbsp;</p>	
	
	<hr>

	<p>&nbsp;</p>

	<div class="row">
		<ul class="root">
		    {% recursetree nodes %}
		        <li>
		            <a href="{% url 'menu:update' node.slug %}">{{ node.name }} <a href="{% url 'menu:delete' node.slug  %}" class="text-danger" role="button"><i class="fa fa-trash-o"></i></a> 
		            {% if not node.is_leaf_node %}
		                <ul class="children">
		                    {{ children }}
		                </ul>
		            {% endif %}
		        </li>
		    {% endrecursetree %}
		</ul>
	</div>
	
{% endblock %}


