{% extends "base.html" %}

{% load webdesign %}

{% block content %}

<h2>
	Menu view
</h2>
		
<ul class="pager">
	<li class="next">
		<a href="{% url 'menu:index' %}">
			<i class="fa fa-arrow-left"></i>&nbsp;&nbsp;&nbsp;Back
		</a>
	</li>
</ul>
<p></p>

<p>
	<label>Name:</label>&nbsp;&nbsp;&nbsp;{{ menu.name }}
</p>
<p>
	<label>Parent:</label>&nbsp;&nbsp;&nbsp;{{ menu.parent.name|default:"Root" }} (level:{{ menu.level }})
</p>
<p>
	<label>Public:</label>&nbsp;&nbsp;&nbsp;
	{% if menu.is_visible %}
		<span class="label label-danger">ON</span>
	{% else %}
		<span class="label label-default">OFF</span>
	{% endif %}
</p>


<div class="pull-right">
	<p class="btn-toolbar">
		<a href="{% url 'menu:update' menu.id %}" class="btn navbar-btn btn-primary">
			<i class="fa fa-edit fa-lg"></i>
			Edit
		</a>
		
		
		<a href="{% url 'menu:delete' menu.id %}" class="btn navbar-btn btn-danger">
		  	<i class="fa fa-trash-o fa-lg"></i>
		  	Delete
		</a>
	</p>
</div>


{% endblock %}