{% extends "dashboard_template.html" %}

{% block dashboard_page_header %}
	Pages
{% endblock %}

{% block dashboard_page_content %}
	
	
	<div id="searchresults">
	
		{% include "template_index_form.html" with form=form has_file_field="False" %}
		
		{% include "pages/ajax_result.html" with object_list=object_list %}
		
	</div>
{% endblock %}


{% block js %}
	<script type="text/javascript">
			
			$(function(){
	
				$("#search").keyup(function(){
				
					$.ajax({
						type: "POST",
						url: "{% url "pages:search" %}",
						data: {
							"search_text": $("#search").val(),
							"csrfmiddlewaretoken": $("input[name=csrfmiddlewaretoken]").val()
						},
						success: searchSuccess,
						dataType: "html"
					});	
				
				});
		});
		
		function searchSuccess(data, textStatus, jqXHR){
			$("#searchresults").html(data);
		}	
			
	</script>      
{% endblock %}
