{% extends "dashboard_template.html" %}


{% block dashboard_title %}
	<h1 class="page-header">
		Create Gallery
	</h1>
{% endblock %}

{% block dashboard_content %}

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<form action="" method="post" class="form-inline">{% csrf_token %}
					{% for error in form.non_field.errors %}
						<p class="text-danger">{{ error }}</p>
					{% empty %}
					{% endfor %}
					
					<label>
						Name*:
					</label>
					{{ form.name }}
					{% for error in form.name.errors %}
						<p class="text-danger">{{ error }}</p>
						{% empty %}
					{% endfor %}
					
					<p></p>
						
					<label>
						URL: 
					</label>
					{{ form.url }}
					{% for error in form.url.errors %}
						<p class="text-danger">{{ error }}</p>
					{% empty %}
					{% endfor %}
					
					<p></p>
					
					<label>
						Description:
					</label>
					{{ form.description }}
					{% for error in form.description.errors %}
						<p class="text-danger">{{ error }}</p>
					{% empty %}
					{% endfor %}
					
					<p></p>
					
					<button type="submit" class="btn btn-primary pull-right"><i class="fa fa-plus"></i> Add</button>
					
				</form>
			</div>
		</div>
	</div>
{% endblock %}



