{% extends "dashboard_template.html" %}
{% load imagekit %}

{% block dashboard_title %}
	<h1 class="page-header">
		{{ gallery.name }}
	</h1>
{% endblock %}

{% block dashboard_content %}
<form enctype="multipart/form-data" action="" method="post" class="form">{% csrf_token %}
	{{ form.as_p }}
	<button type="submit" class="btn btn-primary pull-right">Update</button>
</form>

{{ request }}
<div class="row">
		<div class="col-sm-8 col-md-4">	
			<table class="table table-hover table-condensed">
            	<thead></thead>
                <tbody>
                	{% for item in list %}
                    	<tr>
                        	<td class="col-sm-8 col-md-4">
                        		<div class="media">
                            		<a class="thumbnail pull-left" href="#">{% thumbnail '100x100' item.image %} </a>
		                            <div class="media-body">
		                                <h4 class="media-heading"><a href="{% url 'images:retrieve_and_update' item.pk %}">{{ item.name }}</a></h4>
		                                {{ item.gallery.name }}
		                            </div>
                        		</div>
                        	</td>
     						<td class="col-sm-1 col-md-1">
                        		<a href="{% url 'images:delete' item.pk %}" class="btn btn-danger" role="button"><i class="fa fa-trash-o fa-lg"></i></a>
                        	</td>
                    	</tr>
                    	
					{% empty %}
						<p class="text-center">
							No image found.
						</p>
					{% endfor %}
				</tbody>
            </table>
		</div>
	</div>

{% endblock %}