{% extends "dashboard_template.html" %}

{% block dashboard_title %}
	<h1 class="page-header">
		Gallery
	</h1>
	<hr>
{% endblock %}

{% block dashboard_content %}


<p class="bg-danger">
	As imagens da galeria não serão excluídas.
</p>


{% include "gallery_panel.html" with object=object %}


<div class="row">
	<div class="col-md-4">
	<form action="" method="post">{% csrf_token %}
	    <p class="lead">Are you sure you want to delete "{{ object|title }}"?</p>
	    
	    <div class="pull-right">
			<p class="btn-toolbar">
				<a href="{% url 'gallery:index' %}" class="btn btn-default">
				  	No
				</a>
				<button type="submit" class="btn btn-danger">Yes</button>
			</p>
		</div>
	</form>
	</div>
</div>
	

{% endblock %}