{% extends "dashboard_template.html" %}


{% block dashboard_page_header %}
	Galleries
{% endblock %}

{% block dashboard_page_toolbar %}

<div class="row">
	<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
		<form>   
			{% csrf_token %}
			<p>
				<input type="search" id="search" name="search" class="form-control" placeholder="Search">
			</p>
		</form>
	</div>
</div>

{% endblock %}

{% block dashboard_page_content %}
	
	<div id="searchresults">
	
		{% include "template_index_form.html" with form=form has_file_field="False" %}
		
		{% include "gallery/ajax_result.html" with object_list=object_list %}
		
	</div>
	
{% endblock %}

{% block js %}
<script type="text/javascript">
	$(function(){
	
				$("#search").keyup(function(){
				
					$.ajax({
						type: "POST",
						url: "{% url "gallery:search" %}",
						data: {
							"search_text": $("#search").val(),
							"csrfmiddlewaretoken": $("input[name=csrfmiddlewaretoken]").val()
						},
						success: searchSuccess,
						dataType: "html"
					});	
				
				});
		});

		function searchSuccess(data, textStatus, jqXHR){
			$("#searchresults").html(data);
		}
</script>
{% endblock %}
