{% extends "dashboard_template.html" %}
{% load imagekit %}

{% block dashboard_title %}
	<div class="page-header">
		<h1>
			{{ gallery.name }}
		</h1>
		<p>
			{{ gallery.url|urlize}}
		</p>
		<p class="lead">
			{{ gallery.description|truncatewords:5 }}
		</p>
	</div>
{% endblock %}

{% block dashboard_content %}
	<div class="row-fluid">
		<div class="col-md-12">
			<form enctype="multipart/form-data" action="" method="post" class="form">{% csrf_token %}
				<div class="row-fluid">
					{% for error in form.non_field.errors %}
						<p class="text-danger">{{ error }}</p>
					{% empty %}
					{% endfor %}
					<div class="col-md-4">
						{% for error in form.name.errors %}
							<p class="text-danger">{{ error }}</p>
						{% empty %}
						{% endfor %}
						<p>
							{{ form.name }}
						</p>
						{% for error in form.image.errors %}
							<p class="text-danger">{{ error }}</p>
						{% empty %}
						{% endfor %}
						<p>
							{{ form.image }}
						</p>
						<input name="gallery" value="{{ gallery.pk }}" type="hidden">
						</div>
					</div>
					<button type="submit" class="btn btn-primary"><i class="fa fa-plus"></i> Add</button>
				</div>
			</form>
		</div>
	</div>
	<p>&nbsp;</p>
	<hr>
	
	<div class="row-fluid">
		<div class="col-md-12">
				{% if list %}
				
				<ul class="media-list">
					{% for item in list %}
						<li class="media">
							<div class="row-fluid">
								<div class="col-md-6">
									<a class="pull-left" href="{% url 'gallery:image_retrieve' item.pk %}">
										{% thumbnail '100x100' item.image %}
							    		<!--<img class="media-object" src="{{item.image_thumbnail.url}}" alt="{{ item.name }}">-->
							  		</a>
							  		<div class="media-body">
								    	<h4 class="media-heading">{{ item.name }}</h4>
								    		{{ item.description }}
									</div>
								</div>
								<div class="col-md-6">
									<div class="btn-toolbar" role="toolbar">
										<form method="POST" action="{% url 'gallery:image_delete' item.pk %}">{% csrf_token %}
										    <button type="submit" class="btn btn-link"><i class="fa fa-trash-o fa-lg"></i></button>
										</form>
									</div>
								</div>
						</li>
						<hr>
					{% endfor %}
				</ul>
				{% else %}
					No images found.
				{% endif %}
 
{% endblock %}


<div class="row">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-8"></div>
					<div class="col-md-4">
						<div class="btn-toolbar" role="toolbar">
							<a href="{% url 'gallery:update' gallery.slug %}" class="btn btn-primary" role="button">
								<i class="fa fa-edit"></i> Update
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>