{% extends "dashboard_template.html" %}
{% load imagekit %}

{% block dashboard_title %}
	<h1 class="page-header">
		{{ gallery.name }}
	</h1>
{% endblock %}

{% block dashboard_content %}
<form enctype="multipart/form-data" action="" method="post" class="form">{% csrf_token %}
	{{ form.as_p }}
	<button type="submit" class="btn btn-primary pull-right">Update</button>
</form>

<div class="row">
		{% for object in object_list %}
  			<div class="col-sm-4 col-md-2">
				{% thumbnail '500x400' object.image -- class="img-responsive img-thumbnail" %}
  			</div>
  		{% empty %}
			<p class="text-center">
				No image found.
			</p>
		{% endfor %}
	</div>

{% endblock %}