{% extends "dashboard_template.html" %}

{% block content %}
<form action="" method="post" class="form">{% csrf_token %}
	{{ form.as_p }}
	<button type="submit" class="btn btn-primary pull-right">Update</button>
</form>




<div class="btn-toolbar" role="toolbar">
	<a href="{% url 'gallery:retrieve' gallery.pk %}" class="btn btn-primary pull-right" role="button">
		<i class="fa fa-plus"></i>Cancelar
	</a>
	<a href="{% url 'gallery:delete' gallery.pk %}" class="btn btn-primary pull-right" role="button">
		<i class="fa fa-plus"></i>Excluir
	</a>
</div>
{% endblock %}