{% extends "dashboard_template.html" %}
{% load imagekit %}

{% block dashboard_title %}
	Images
{% endblock %}

{% block dashboard_content %}

	{% include "template_index_form.html" with form=form has_file_field="True" %}
	
	{% include "template_counter.html" with counter_name="image" plural="s" count=object_list.count %}
	
	<hr>
		
	<div class="row">
		{% for object in object_list %}
      		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">  	
				{% include "images/template_image_panel.html" with object=object counter=forloop.counter %}
			</div>
  		{% empty %}
			<p class="lead text-center">
				No image found.
			</p>
		{% endfor %}
		 
	</div>

{% endblock %}
				