{% extends "dashboard_template.html" %}
{% load imagekit %}

{% block dashboard_title %}
	<h1 class="page-header">
		Images
	</h1>
{% endblock %}

{% block dashboard_content %}

	<div class="row">
		<div class="col-md-4">
			<form enctype="multipart/form-data" action="" method="post" class="form">{% csrf_token %}
				<div class="row">
					<div class="col-md-12">
						{% include "error_list.html" with error_list=form.non_field.errors %}
					</div>
				</div>
				<!--NAME and GALLERY-->
				<div class="row">
					<div class="col-md-12">
						<p>
							<label>Name:</label>
							{{ form.name }}
						</p>
						{% include "error_list.html" with error_list=form.name.errors %}
					</div>
				</div>
				<!--IMAGE-->
				<div class="row">
					<div class="col-md-12">
						<p>
							<label>Image:</label>
							{{ form.image }}
						</p>
						{% include "error_list.html" with error_list=form.image.errors %}
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
							<p>
								<label>Gallery:</label>
								{{ form.gallery }}
							</p>
							{% include "error_list.html" with error_list=form.gallery.errors %}
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<button type="submit" class="btn btn-primary btn-sm pull-right"><i class="fa fa-plus"></i> Add</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	
	<p>&nbsp;</p>	
	
	<hr>
	
	<p>&nbsp;</p>
	
	<div class="row">
		{% for object in object_list %}
  			<div class="col-sm-4 col-md-4">
  				<div class="panel panel-default">
	                <div class="panel-image">
	                	{% thumbnail '340x200' object.image -- class="panel-image-preview" %}
	                    <!--<img src="http://666a658c624a3c03a6b2-25cda059d975d2f318c03e90bcf17c40.r92.cf1.rackcdn.com/unsplash_52d09387ae003_1.JPG" class="panel-image-preview" />-->
	                    <label for="toggle-{{ forloop.counter }}"></label>
	                </div>
	                <input type="checkbox" id="toggle-{{ forloop.counter }}" class-"panel-image-toggle">
	                <div class="panel-body">
	                    <h4>{{ object.name|title|truncatechars:35 }}</h4>
	                    <p><small>{{ object.gallery.name|title|truncatechars:35 }}</small></p>
	                    <p>{{ object.description|default_if_none:""|truncatechars:35 }}</p>
	                </div>
	                <div class="panel-footer text-center">
	                	{% if object.public %}<i class="fa fa-globe fa-lg text-primary"></i>{% endif %}
	                    <a href="#download"><span class="glyphicon glyphicon-download"></span></a>
	                    <a href="#share"><span class="glyphicon glyphicon-share-alt"></span></a>
	                    <a href="{% url 'images:update' object.slug  %}"><i class="fa fa-edit fa-lg"></i></a>
	        					<a href="{% url 'images:delete' object.slug  %}"><i class="fa fa-trash-o fa-lg"></i></a>
	                </div>
            	</div>
  			</div>
  		{% empty %}
			<p class="text-center">
				No image found.
			</p>
		{% endfor %}
	</div>
	    			
	
{% endblock %}
				