{% extends "dashboard_template.html" %}
{% load imagekit %}

{% block dashboard_title %}
	<h1 class="page-header">
		Images
	</h1>
{% endblock %}

{% block dashboard_content %}
	<div class="row-fluid">
		<div class="col-md-12">
			<form enctype="multipart/form-data" action="{% url 'images:create' %}" method="post" class="form">{% csrf_token %}
				<div class="row-fluid">
					{% for error in form.non_field.errors %}
						<p class="text-danger">{{ error }}</p>
					{% empty %}
					{% endfor %}
					<div class="col-md-4">
						{% for error in form.name.errors %}
							<p class="text-danger">{{ error }}</p>
						{% empty %}
						{% endfor %}
						<p>
							{{ form.name }}
						</p>
						{% for error in form.image.errors %}
							<p class="text-danger">{{ error }}</p>
						{% empty %}
						{% endfor %}
						<p>
							{{ form.image }}
						</p>
						<input name="gallery" value="{{ gallery.pk }}" type="hidden">
						</div>
					</div>
					<button type="submit" class="btn btn-primary"><i class="fa fa-plus"></i> Add</button>
				</div>
			</form>
		</div>
	</div>
	<p>&nbsp;</p>	
	<hr>
	<p></p>
	
	<div class="row-fluid">
		<div class="col-md-12">			
				<ul class="media-list">
					{% for item in list %}
						<li class="media">
							<div class="row-fluid">
								<div class="col-md-6">
									<a class="pull-left" href="{% url 'images:retrieve' item.pk %}">
										{% thumbnail '100x100' item.image %}
							    		<!--<img class="media-object" src="{{item.image_thumbnail.url}}" alt="{{ item.name }}">-->
							  		</a>
							  		<div class="media-body">
								    	<h4 class="media-heading">{{ item.name }}</h4>
								    		{{ item.description }}
									</div>
								</div>
								<div class="col-md-6">
									<div class="btn-toolbar" role="toolbar">
										<form method="POST" action="{% url 'images:delete' item.pk %}">{% csrf_token %}
										    <button type="submit" class="btn btn-link"><i class="fa fa-trash-o fa-lg"></i></button>
										</form>
									</div>
								</div>
						</li>
						<hr>
					{% empty %}
					<p class="text-center">
						No image found.
					</p>
					{% endfor %}
				</ul>
					
			</div>
		</div>
	</div>
{% endblock %}