{% extends "dashboard_template.html" %}
{% load imagekit %}

{% block dashboard_title %}
	<h1 class="page-header">
		Images
	</h1>
{% endblock %}

{% block dashboard_content %}

	<div class="row">
		<div class="col-md-6">
			<form enctype="multipart/form-data" action="{% url 'images:create_and_list' %}" method="post" class="form">{% csrf_token %}
				<!--NON FIELD ERROR-->
				<div class="row">
					<div class="col-md-12">
						{% include "error_list.html" with error_list=form.non_field.errors %}
					</div>
				</div>
				<!--NAME and GALLERY-->
				<div class="row">
					<div class="col-md-6">
						{{ form.name }}
						{% include "error_list.html" with error_list=form.name.errors %}
					</div>
					<div class="col-md-6">
							{{ form.gallery }}
							{% include "error_list.html" with error_list=form.gallery.errors %}
					</div>
				</div>
				<div class="row"><p></p></div>
				<!--IMAGE-->
				<div class="row">
					<div class="col-md-4">
						{{ form.image }}
						{% include "error_list.html" with error_list=form.image.errors %}
					</div>
					<div class="col-md-6">
						<button type="submit" class="btn btn-primary btn-sm pull-right"><i class="fa fa-plus"></i> Add</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	
	<p>&nbsp;</p>	
	
	<hr>
	
	<p>&nbsp;</p>
	

	<div class="row">
		<div class="col-sm-8 col-md-4">	
			<table class="table table-hover table-condensed">
            	<thead></thead>
                <tbody>
                	{% for item in list %}
                    	<tr>
                        	<td class="col-sm-8 col-md-4">
                        		<div class="media">
                            		<a class="thumbnail pull-left" href="#">{% thumbnail '100x100' item.image %} </a>
		                            <div class="media-body">
		                                <h4 class="media-heading"><a href="#">{{ item.name }}</a></h4>
		                                {{ item.gallery.name }}
		                            </div>
                        		</div>
                        	</td>
     						<td class="col-sm-1 col-md-1">
                        		<a href="{% url 'images:delete' item.pk %}" class="btn btn-danger" role="button"><i class="fa fa-trash-o fa-lg"></i></a>
                        	</td>
                    	</tr>
                    	
					{% empty %}
						<p class="text-center">
							No image found.
						</p>
					{% endfor %}
				</tbody>
            </table>
		</div>
	</div>
{% endblock %}
