{% load imagekit %}

<div class="panel panel-default">
	<!--
	<div class="panel-heading"></div>
      -->        
	<div id="{{ object.name }}" class="panel-image">
		{% include "template_modal.html"  %}
		<a href="#" data-toggle="modal" data-target="#myModal-{{ forloop.counter }}" title="{{ object.name|title }}">
			{% thumbnail '432x267' object.image -- class="panel-image-preview img-responsive" %}
		</a>
	</div>
	
	<div class="panel-footer">
		<strong>{{ object.name|title|default_if_none:"--"|default:"--" }}</strong>	    		
		{% with published=object.public %}
			<span class="label {{ published|yesno:'label-primary,label-default' }} pull-right">
				{{ published|yesno:"published,unpublished" }}
			</span>
		{% endwith %}	
    </div>
	    
</div>