{% extends 'dashboard_template.html' %}
{% load imagekit %}

{% block dashboard_title %}
	<h1 class="page-header">
		Images
	</h1>
{% endblock %}


{% block dashboard_content %}

<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
		<p>
		{% thumbnail '500x400' object.image -- class="img-responsive img-thumbnail" %}
		</p>
	</div>
</div>

<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<form enctype="multipart/form-data" action="" method="post" class="form">{% csrf_token %}
			{{ form.as_p }}
			<button type="submit" class="btn btn-primary btn-sm pull-right"><i class="fa fa-edit fa-lg"></i> Edit</button>
		</form>
		<div class="btn-toolbar">
			<a href="{% url 'images:index' %}" class="btn btn-default" ><span class="glyphicon glyphicon-remove"></span> Cancel</a>
		</div>
	</div>
</div>
{% endblock %}