{% extends "base.html" %}


{% block content %}

<h2>Menu</h2>

DELETADO
<div class="nav">
	<a href="{% url 'menu:create' %}" class="btn btn-primary pull-right" role="button">
		<i class="fa fa-plus"></i>&nbsp;&nbsp;&nbsp;Criar item de menu
	</a>
</div>

<p></p>

{% if list %}
	<div class="table-responsive">
  		<table class="table table-hover">
  			<tr>
  				<th># (checkbox)</th>
  				<th>Name</th>
  				<th>Is published?</th>
  			<tr>
  			{% for item in list %}
  				<tr>
  					<td>
  						{{ forloop.counter }}
  					</td>
  					<td>
  						<a href="{% url 'menu:retrieve' item.id %}">{{ item.name }}</a>
  					</td>
  					<td>
  						{% if item.is_visible %}
							<span class="label label-danger">PUBLISHED</span>
						{% else %}
							<span class="label label-default">UNPUBLISHED</span>
						{% endif %}
  					</td>
  					<td>
  						remover
  					</td>
  				</tr>
  			{% endfor %}
  		</table>
	</div>
{% endif %}

{% endblock %}