{% extends "base.html" %}

{% load webdesign %}

{% block content %}

<h2>
	Menu view
</h2>

<div class="nav">
	<a href="{% url 'menu:update' menu.id %}" class="btn btn-primary pull-right" role="button">
		<i class="fa fa-edit"></i>&nbsp;&nbsp;&nbsp;Edit menu item
	</a>
</div>

<label>Name:</label>&nbsp;&nbsp;&nbsp;{{ menu.name }}

<nav class="navbar navbar-default" role="navigation">

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
    
    

      <li class="active"><a href="#">{{ menu.name }}</a></li>
      <li><a href="#">Link</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
          <li class="divider"></li>
          <li><a href="#">One more separated link</a></li>
        </ul>
      </li>
    </ul>
   
  </div><!-- /.navbar-collapse -->
</nav>


<p></p>

<ul class="pager">
	<li class="previous">
		<a href="{% url 'menu:index' %}">
			<i class="fa fa-arrow-left"></i>&nbsp;&nbsp;&nbsp;Back
		</a>
	</li>
</ul>

{% endblock %}