{% if list %}
	<div class="table-responsive">
  		<table class="table table-hover">
  			<tr>
  				<th>
  					#
  				</th>
  				<th>
  					Menu item
  				</th>
  				<th>
  					Name
  				</th>
  				<th>
  					Is published?
  				</th>
  			</tr>
  			{% for item in list %}
  				<tr>
  					<td>
  						{{ forloop.counter }}
  					</td>
  					<td>
  						{{ item.menuitem.name }}
  					</td>
  					<td>
  						<a href="{% url 'pages:retrieve' item.id %}">{{ item.title }}</a>
  					</td>
  					<td>
  						{% if item.is_visible %}
							<span class="label label-danger">PUBLISHED</span>
						{% else %}
							<span class="label label-default">UNPUBLISHED</span>
						{% endif %}
  					</td>
  				</tr>
  			{% endfor %}
  		</table>
  	</div>
{% endif %}