{% extends "base.html" %}

{% block breadcrumb %}
	<ol class="breadcrumb">
  		<li><a href="#">Home</a></li>
  		<li><a href="#">Library</a></li>
  		<li class="active">Data</li>
	</ol>
{% endblock %}

{% block content %}
<h1>
	Creating page
</h1>

<form action="" method="post">{% csrf_token %}
	<p class="text-danger">
    {{ form.non_field_errors }}
    </p>
    <div class="form-inline">
    	<fieldset>
	    	<div>
	    		<p class="text-danger">
		    	{{ form.menuitem.errors }}
		    	</p>
		    	<label for="id_menuitem">Menu item:</label>
		    	{{ form.menuitem }}
		    </div>
		    <div>
		    	<p class="text-danger">
		        	{{ form.title.errors }}
		        </p>
		        <label for="id_subject">Name:</label>
		        {{ form.title }}
		    </div>
	    </fieldset>
    </div>
    <div class="form-group">
    	<p class="text-danger">
        	{{ form.content.errors }}
        </p>
        <label for="id_content">Content:</label>
        {{ form.content }}
    </div>    
    <button type="submit" class="btn btn-primary pull-right">Create</button>
</form>


<a href="{% url 'pages:index' %}" class="btn btn-default" role="button">
<i class="fa fa-arrow-left"></i>&nbsp;&nbsp;&nbsp;Cancel
</a>
{% endblock %}
