{% extends "base.html" %}

{% block breadcrumb %}
	<ol class="breadcrumb">
  		<li><a href="#">Home</a></li>
  		<li><a href="#">Library</a></li>
  		<li class="active">Data</li>
	</ol>
{% endblock %}

{% block content %}

<h2>
	Page view
</h2>

<div class="nav">
	<a href="{% url 'pages:update' page.id %}" class="btn btn-primary pull-right" role="button">
		<i class="fa fa-edit"></i>&nbsp;&nbsp;&nbsp;Edit page
	</a>
</div>

<p></p>

<div class="table-responsive">
  		<table class="table table-hover">
  			<tr>
  				<th>
  					Menu item
  				</th>
  				<th>
  					Name
  				</th>
  			</tr>
  				<tr>
  					<td>
  						{{ page.menuitem.name|default:"No" }}
  					</td>
  					<td>
  						{{ page.title }}
  					</td>
  				</tr>
  		</table>
</div>

<p></p>


<div class="form-group">
	{{ page.content|safe }}
</div>

<p></p>

<ul class="pager">
	<li class="previous">
		<a href="{% url 'pages:index' %}">
			<i class="fa fa-arrow-left"></i>&nbsp;&nbsp;&nbsp;Back
		</a>
	</li>
</ul>

{% endblock %}