{% extends "base.html" %}

{% block breadcrumb %}
	<ol class="breadcrumb">
  		<li><a href="#">Home</a></li>
  		<li><a href="#">Library</a></li>
  		<li class="active">Data</li>
	</ol>
{% endblock %}
            

{% block content %}

<h2>
	Edit Page
</h2>

<form action="" method="post">{% csrf_token %}
    {{ form.non_field_errors }}
        <div class="form-group">
    	<label>Menu de acesso:</label>
    	{{ form.menuitem }}
    </div>
    <div class="form-group">
        {{ form.title.errors }}
        <label for="id_subject">Nome:</label>
        {{ form.title }}
    </div>
    <div class="form-group">
        {{ form.content.errors }}
        <label for="id_subject">Conteúdo:</label>
        {{ form.content }}
    </div>
    
    <button type="submit" class="btn btn-primary pull-right">Update</button>
</form>

<p></p>

<ul class="pager">
	<li class="previous">
		<a href="{% url 'pages:retrieve' page.pk %}">
			<i class="fa fa-arrow-left"></i>&nbsp;&nbsp;&nbsp;Cancel
		</a>
	</li>
</ul>



            
{% endblock %}
