{% load webdesign %}
{% load url from future %}


<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<!-- STYLES -->
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
	</head>
	<body>

		
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					
				</div>
			</div>
		</div>
		<div class="table-responsive">
  		<table class="table">
  				<tr>
  					<td>
  						<form action="" method="post" class="form">{% csrf_token %}
	{{ form.as_p }}
</form>
  					</td>
  					<td>
  						{% block content %}{% endblock %}
  					</td>
  					<td>
  						<form action="" method="post" class="form">{% csrf_token %}
	{{ form.as_p }}
</form>
  					</td>
  				</tr>
  				  				<tr><td></td>
<td>
<form action="" method="post" class="form">{% csrf_token %}
	{{ form.as_p }}
</form>
</td>
<td></td>
  				</tr> 	
  				  				<tr>
  					<td>
  						<form action="" method="post" class="form">{% csrf_token %}
	{{ form.as_p }}
</form>
  					</td>
  					<td>
  						<form action="" method="post" class="form">{% csrf_token %}
	{{ form.as_p }}
</form>
  					</td>
  					<td>
  						<form action="" method="post" class="form">{% csrf_token %}
	{{ form.as_p }}
</form>
  					</td>
  				</tr> 			
  		</table>
  	</div>
				
		<!-- SCRIPTS -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
		<script src="{{ STATIC_URL }}scripts/ckeditor/ckeditor.js"></script>
		<script>
			CKEDITOR.replace( 'id_content');
		</script>        
            
	</body>
</html>