{% load imagekit %}


			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="btn-toolbar toolbar pull-right">
				  		<a href="{% url 'gallery:delete' object.slug %}" class="text-danger" role="button"><i class="fa fa-trash-o fa-lg fa-border"></i></a>
				  	</div>
				    <h3 class="panel-title">
				    	<a href="{% url 'gallery:update' object.slug %}">{{ object.name|title|truncatechars:35 }}</a>
				    	<span class="label {% if not object.public %}label-default{% else %}label-success{% endif %}">{{ object.public|yesno:"on, off" }}</span>
    				</h3>
				</div>
				<div class="panel-body">
					{% for object in object.image_set.all %}
				    	<div class="col-sm-2 col-md-2">
			   
			    				
			   
				      			{% thumbnail '500x400' object.image -- class="img-responsive img-thumbnail" %}
		        								     			 
	
  						</div>
				    {% empty %}
				    	<p class="text-center lead">
							Empty
						</p>
						
				    {% endfor %}
				</div>
		</div>
	
	